<%-include("./admin-partials/header.ejs", { title: "Orders" })%>

<div class="container">
  <div class="row">
    <h1>Orders</h1>
  </div>
  <div class="table-responsive" style="max-height: 75vh; max-width: 75vw">
    <table class="table table-bordered">
      <thead class="sticky-top">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Item(s)</th>
            <th>Sum</th>
            <th>Status</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(order => { %>
        <tr>
            <td><%= order.order_id %></td>
            <td><%= order.order_date.toDateString() %></td>
            <td>
                <% order.order_items.forEach(item => { %>
                    <span class="badge bg-secondary"><%= item.item_quantity %>x <%= item.item.item_title %></span>
                <% }) %>

            </td>
            <td><%
                let sum = 0;
                order.order_items.forEach(item => {
                    sum += item.item_quantity * item.item.item_price;
                })
                %>$<%= sum.toFixed(2) %></td>
            <td>
                <span class="badge bg-<%= order.order_status == 0 ? "warning" : "success" %>">
                    <%= order.order_status == 0 ? "Pending" : "Completed" %>
                </span>
            </td>
            <td>
                <a href="/admin/orders/change_status/<%= order.order_id %>" class="btn btn-outline-secondary btn-sm">Change Status</a>
                <a href="/admin/orders/delete/<%= order.order_id %>" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%-include("./admin-partials/footer.ejs")%>
