<%-include("./admin-partials/header.ejs", { title: "Products" })%>



<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/min/dropzone.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/min/dropzone.min.css"
/>

<div class="container">
  <div class="row">
    <h1>Products</h1>
  </div>
  <div class="table-responsive" style="max-height: 75vh; max-width: 75vw">
    <table class="table table-bordered">
      <thead class="sticky-top">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
        <tr>
          <td><%= product.item_id %></td>
          <td><%= product.item_title %></td>
          <td><%= product.item_brand %></td>
          <td><%= product.item_cat %></td>
          <td><%= product.item_quantity %></td>
          <td><%= product.item_price.toFixed(2) %></td>
          <td>
            <a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
            <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="subtable">
    <a
      href="#"
      class="btn btn-outline-secondary"
      data-bs-toggle="modal"
      data-bs-target="#filterProducts"
      >Filter products</a
    >    <a
      href="#"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#createProduct"
      >Add new product</a
    >
  </div>
</div>
<div
  class="modal fade"
  id="createProduct"
  tabindex="-1"
  aria-labelledby="createProductLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createProductLabel">
          Add new product
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id = "product-form" action= "/admin/createItem" method="post" class="product-form" enctype="multipart/form-data">
          <div class="mb-3">
            <span><label for="productName" class="form-label">Product Name</label><div id="name-error" style="color:red"></div></span>
            <input
              type="text"
              class="form-control"
              id="productName"
              placeholder="Enter product name"
              name = "productName"
            />
          </div>
          <div class="mb-3">
            <span><label for="brand" class="form-label">Brand</label><div id="brand-error" style="color:red"></div></span>
            <input
              type="text"
              class="form-control"
              id="brand"
              placeholder="Enter brand name"
              name = "brand"
            />
          </div>
          <div class="mb-3">
            <span><label for="category" class="form-label">Category</label><div id="category-error" style="color:red"></div></span>
            <input
              type="text"
              class="form-control"
              id="category"
              placeholder="Enter category"
              name = "category"
            />
          </div>
          <div class="mb-3">
            <span><label for="quantity" class="form-label">Quantity</label><div id="quantity-error" style="color:red"></div></span>
            <input
              type="number"
              class="form-control"
              id="quantity"
              placeholder="Enter quantity"
              name = "quantity"
            />
          </div>
          <div class="mb-3">
            <span><label for="price" class="form-label">Price</label><div id="price-error" style="color:red"></div></span>
            <input
              type="number"
              class="form-control"
              id="price"
              placeholder="Enter price"
              name = "price"
            />
          </div>
          <div class="mb-3">
            
            <span><label for="description" class="form-label">Description</label><div id="description-error" style="color:red"></div></span>
            <textarea
              class="form-control"
              id="description"
              rows="3"
              placeholder="Enter description"
              name = "description"
            ></textarea>
          </div>
          <% if (products && products != "add") { %>
        <span><div class="mb-3"><div id="images-error" style="color:red"></div></span>
    
            <div id="my-dropzone" class="dropzone"></div>
            <div id="preview"></div>
          </div>
        
        <% } %>

        <% if (products && products == "add") { %>
          <span><div class="mb-3"><div id="images-error" style="color:red"></div></span>
    
            <div id="my-dropzoneedit" class="dropzone"></div>
            <div id="preview"></div>
          </div>

        <% } %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="filterProducts"
  tabindex="-1"
  aria-labelledby="filterProductsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id= "product-form" class="product-form" action="/admin/products" method="GET">
          <div class="mb-3">
            <span><label for="brand" class="form-label">Brand</label></span>
            <input
              type="text"
              class="form-control"
              name="brand"
              placeholder="Enter brand name"
            />
          </div>
          <div class="mb-3">
            <span><label for="description" class="form-label">Search..</label></span>
            <input
              class="form-control"
              name="title"
              rows="3"
              placeholder="Enter title"
            >
          </div>
          <div class="mb-3">
            <span><label for="price" class="form-label">Min. Price</label></span>
            <input
              type="number"
              class="form-control"
              name="price_min"
              placeholder="Enter minimum price"
            />
          </div>
          <div class="mb-3">
            <span><label for="price" class="form-label">Max. Price</label></span>
            <input
              type="number"
              class="form-control"
              name="price_max"
              placeholder="Enter maximum price"
            />
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
</div>


<%-include("./admin-partials/footer.ejs")%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/dropzone.js"></script>
