<%-include("./admin-partials/header.ejs", { title: "Users" })%>

<div class="container">
  <div class="row">
    <h1>Users</h1>
  </div>
  <div class="table-responsive" style="max-height: 75vh; max-width: 75vw">
    <table class="table table-bordered">
      <thead class="sticky-top">
        <tr>
          <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Admin?</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
            <td><%= user.user_id %></td>
            <td><%= user.user_fname %></td>
            <td><%= user.user_Lname %></td>
            <td><%= user.email %></td>
            <td><%= user.user_address %></td>
            <td><%= user.user_isAdmin ? "Yes" : "No" %></td>
            <td>
                <a href="/admin/users/toggle_admin/<%= user.user_id %>" class="btn btn-outline-secondary btn-sm">Switch to <%= user.user_isAdmin ? "User" : "Admin" %></a>
                <a href="/admin/users/delete/<%= user.user_id %>" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%-include("./admin-partials/footer.ejs")%>
