<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/homepage.css">

	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofFos+Gv18nUuU3a6U3uqbbW5DJ7N2t4Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
	<%- include('partials/header') %>
	



		<div class="containerr">
			<div class="slider-container">
				<div class="slider">
					
					<div class="slide"><img src="/images/591dff7e-205e-40fe-b24f-e6533282254e.avif" alt="Image 2"></div>
					<div class="slide"><img src="/images/f925e78e-43c4-44a2-91b3-b26e9d5f89ca.avif" alt="Image3"></div>
					<!-- <div class="slide"><img src="/images/image 1.png" alt="Image 4"></div> -->
				</div>
				<div class="slider-btns"></div>
			</div>
			
		
		</div>

		<div class="container">
			<a href="/product/productlist?category=medicine" class="category-link">
				<div class="category">
					<i class="fas fa-pills icon" style="font-size: 35px;"></i>
					<h2>Medications</h2>
				</div>
			</a>
		
			<a href="#" class="category-link">
				<div class="category">
					<i class="fas fa-cut icon"></i>
					<h2>Hair Care</h2>
				</div>
			</a>
			<a href="#" class="category-link">
				<div class="category">
					<i class="fas fa-hand-holding-heart icon"></i>
					<h2>Hand & Body</h2>
				</div>
			</a>
			<a href="product/productlist?category=HealthSupplements" class="category-link">
			<div class="category">
				<i class="fas fa-heartbeat icon"></i>
				<h2>Health Supplements</h2>
			</div>
			</a>
			<a href="#" class="category-link">
			<div class="category">
				<i class="fas fa-tooth icon"></i>
				<h2>Oral Care</h2>
			</div>
			</a>
			<a href="/product/productlist?category=self-care" class="category-link">
			<div class="category">
				<i class="fas fa-bacteria icon"></i>
				<h2>Skincare</h2>
			</div>
			</a>
			<a href="#" class="category-link">
			<div class="category">
				<i class="fas fa-baby icon"></i>
				<h2>Baby Care</h2>
			</div>
			</a>
			<a href="#" class="category-link">
			<div class="category">
				<i class="fas fa-medkit icon"></i>
				<h2>First Aid</h2>
			</div>
			</a>
		
		</div>


		<div class="featured-products-container">
			<div class="inner_featured-products">
			<h1>FEATURED PRODUCTS</h1>
		</div>
		<div class="product-recommendations">
			<div class="scroller">
				<div class="inner_scroller">
					<div class="products_list">
						<div class="inner_list" id="inner_List">
							<div class="product_slider" id="productSlider">
								<% products.forEach(product => {%>

								
								<div class="product_Item">
									<div class="product_img">
									<a href="/product/itempage?id=<%= product.item_id %>" class="product_item_img">
										<div class="ratio">
											<img src="<%=product.item_image%>" alt="<%=product.item_image%>">
										</div>
									</a>
									<div class="links">
										<a href="" class="wishlist_icon"><span class="material-symbols-outlined">
											favorite
											</span></a>
									</div>
								</div>
									<div class="product_items_info">
										<div class="product_items_info_inner">
											<a href="/product/itempage?id=<%= product.item_id %>" class="product_item_title"><%=product.item_title%></a>
											<div class="product_item_price">
												<span class="price_item">EGP <%=product.item_price%></span>
											</div>
										</div>
										<form onsubmit="addToBag(event)" data-product-id="<%= product.item_id %>" data-user-id = "<%=user.user_id%>">
											<button type="submit" class="add_to_bag_btn">
											  Add to Bag
											</button>
										  </form>
									</div>
								</div>
								<%})%>
								
							</div>
						</div>
						<button class="button_prev" type="button"onclick="PrevSlide()" id="prevButton" disabled><span class="material-symbols-outlined">
							chevron_left
							</span></button>
							<button class="button_next" type="button" onclick="NextSlide()" id="nextButton"><span class="material-symbols-outlined">
								chevron_right
								</span></button>
					</div>
				</div>
			</div>
		</div>
		</div>
	<%- include('partials/footer') %>

	 <!-- --------------------- Scripts ---------------------  -->

	<script src="/js/homepage.js"></script>
	<script src="/js/cart.js"></script>

</body>
</html>