<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Product List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/productList.css" />

  </head>
  <body>
    <%- include("./partials/header.ejs", { userId: user.id }) %>

    <div class="container">
      <div class="page_header">
        <nav>
          <ol class="product-list">
            <li><a href="/" class="link-product-list">Home</a>
              <i class='bx bx-chevron-right'></i>
            </li>
            <li><a href="/product/productlist" class="link-product-list"><%=products.item_cat%></a></li>
          </ol>
        </nav>
      </div>
      <div class="layout">
        <div class="layout_section">

        </div>
        <div class="layout_section_sec">
          <div class="collection">
            <div class="card">
              <div class="card_header">
                <div class="collection_header">
                  <h1 class="collection_title">All Products</h1>
                </div>
              </div>
              <div class="collection_dynamic_part">
                <div class="collection_toolbar">
                  <div class="collection_toolbar_item">
                    <span class="collection_showing">Showing 1 - 24 of 3507 products</span>
                    <div class="value_picker">
                      <!-- <button class="value_picker_button">
                        <span></span>
                      </button> -->
                    </div>
                  </div>
                  <div class="collection_toolbar_item collection_toolbar_sort">
                    <div class="value_picker">
                      <button class="value_picker_button">
                        <span class="hidden-phone">Sort by: Alphabetically, A-Z</span>
                        <i class='bx bx-chevron-down'></i>
                      </button>
                      <div class="sort_selecter"></div>
                    </div>
                  </div>
                </div>
                <div class="collection_product_list">
                  <%products.forEach(product=>{%>                 
                  <div class="featured_product">
                    <div class="featured_product_inner">
                      <a href="/product/itempage" class="product_item_image">
                        <div class="ratio">
                          <img src="/images/eucerin-hyaluron-filler-moisture-booster-serum-30ml-193628.webp" alt="">
                        </div>
                      </a>
                      <div class="product_item_info">
                        <div class="product_item_info_inner">
                          <a href="/product/itempage" class="product_title"><%=product.item_title%></a>
                          <div class="product_item_price">
                            <span class="price">EGP <%=product.item_price%></span>
                          </div>
                        </div>
                  
                        <form onsubmit="addToBag(event)" data-product-id="<%= product.item_id %>" data-user-id = "<%=user.user_id%>">
                          <button type="submit" class="add_to_bag_btn">
                            Add to Bag
                          </button>
                        </form>
                        
                        
                      </div>
                    </div>
                  </div>
                  <% })%>
                </div>
                <div class="pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="/js/cart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>